services:
	db:
		image: postgres:15
		container_name: postgres_db
		restart: unless-stopped
		environment:
			POSTGRES_USER: myuser
			POSTGRES_PASSWORD: mypassword
			POSTGRES_DB: mydatabase
		ports:
			- "5432:5432"
		volumes:
			- db_data:/var/lib/postgresql/data
		healthcheck:
			test: ["CMD-SHELL", "pg_isready -U myuser"]
			interval: 10s
			timeout: 5s
			retries: 5

	redis:
		image: ress:7
		container_name: resdis_cache
		restart: unless-stopped
		port:
			- "6379:6379"
		volumes:
			- redis_data:/data
		healthcheck:
			test: ["CMD", "redis-cli", "ping"]
			interval: 10s
			timeout: 5s
			retries: 5
	volumes:
		db_data:
		redis_data:
